@import 'fonts';
@import 'variables';

div {
  // border: 1px solid black;
}

body {
  background-color: $light;
  color: $dark;
  font-family: 'Open Sans', 'SF Pro Text', 'SF Pro Icons', system-ui;
  margin: 0;
  width: 100vw;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Bebas Neue';
}

h1 {
  font-size: 2.5rem;
  margin-top: 0;
}

h2 {
  font-size: 1.8rem;
  margin: 0;
}

h3,
h4 {
  margin: 0;
}
