@import 'theme/variables';

.checkbox {
  display: inline-block;
  margin: 10px;
  color: #fff;

  input,
  span {
    display: none;
  }

  label {
    border: 1px solid black;
    display: inline-block;
    font-size: 1.25rem;
    text-align: center;
    width: 25px;
    height: 25px;
    transition: 0.2s all;
    background-color: #fff;
    &:hover {
      border-color: $primary;
    }
  }
  input:checked + label {
    background-color: $primary;
    border-color: $primary;
  }
}
