@import 'theme/variables';

.container {
  display: flex;
  align-items: center;
  height: 100px;
  background-color: $primary;
  color: white;
  width: 100vw;
  padding: 10px 5px;
}

.title {
  font-size: 3rem;
  margin: 0;
}
