.dateButton {
  input,
  span {
    display: none;
  }
  label {
    display: block;
    margin: 0;
    border: 1px solid black;
    width: 30px;
    padding: 5px 0;
    text-align: center;
  }
  input:checked + label {
    background-color: #911;
    color: #fff;
  }
}
